USE [club]
GO
/****** Object:  Table [dbo].[Clubs]    Script Date: 02.10.2026 21:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clubs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Clubs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clubs] ON 

INSERT [dbo].[Clubs] ([Id], [Name], [City], [Country]) VALUES (1, N'Динамо', N'Київ', N'Україна')
INSERT [dbo].[Clubs] ([Id], [Name], [City], [Country]) VALUES (2, N'Чорноморець', N'Одеса', N'Україна')
INSERT [dbo].[Clubs] ([Id], [Name], [City], [Country]) VALUES (3, N'Шахтар', N'Донецьк', N'Україна')
SET IDENTITY_INSERT [dbo].[Clubs] OFF
GO
